@{
  Layout = "_Layout";
}

@model DataBase.Models.Flavors

<h2>Update a Flavor. @Html.DisplayFor(model => model.Description)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to the list", "Index")</p>