@{
  Layout = "_Layout";
}

@model DataBase.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.Treats.Count == 0)
{
  <p>This flavor was not given to any treat.</p>
}
else
{
  <h4>Treats for This flavor.</h4>
  <ul>
  @foreach(var join in Model.Treats)
  {
    <li>@join.Treat.Name</li>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatFlavorId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul> 
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit a Flavor", "Edit", new { id = Model.FlavorId })</p>

<p>@Html.ActionLink("Delete a Flavor", "Delete", new { id = Model.FlavorId })</p>